# Dependencies & Environments
chess-frontend/node_modules/
backend-ai/venv/
backend-ai/__pycache__/
*.pyc

# Large datasets & raw data
backend-ai/dataset.npz
backend-ai/data/
*.pt

# Build outputs
chess-frontend/build/
chess-frontend/dist/
